<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="ugr.gbv.cognimobile">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_INTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_INTERNAL_STORAGE" />
    <uses-permission android:name="com.aware.READ_CONTEXT_DATA" />
    <uses-permission android:name="com.aware.WRITE_CONTEXT_DATA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" /> <!-- needed for Android 28 P -->
    <!-- Support for Sync Adapters -->
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.READ_SYNC_STATS" />
    <uses-permission android:name="android.permission.READ_SYNC_SETTINGS" />
    <uses-permission android:name="android.permission.WRITE_SYNC_SETTINGS" />
    <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS" /> <!-- Permissions to safeguard data collection quality -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning"
        tools:replace="android:icon, android:theme">
        <activity android:name=".activities.Introduction">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.Test"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_test"
            android:parentActivityName=".activities.MainActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ugr.gbv.cognimobile.activities.MainActivity" />
        </activity>
        <activity
            android:name=".activities.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".qr_reader.ReadQR" />

        <provider
            android:name="com.aware.providers.Aware_Provider"
            android:authorities="${applicationId}.provider.aware"
            android:exported="true"
            android:label="@string/sensor_aware"
            android:readPermission="com.aware.READ_CONTEXT_DATA"
            android:syncable="true"
            android:writePermission="com.aware.WRITE_CONTEXT_DATA" />
        <provider
            android:name=".database.Provider"
            android:authorities="${applicationId}.provider"
            android:exported="true"
            android:readPermission="com.aware.READ_CONTEXT_DATA"
            android:writePermission="com.aware.WRITE_CONTEXT_DATA" />

        <service
            android:name=".database.syncadapters.Cognimobile_Sync"
            android:exported="false">
            <intent-filter>
                <action android:name="android.content.SyncAdapter" />
            </intent-filter>

            <meta-data
                android:name="android.content.SyncAdapter"
                android:resource="@xml/sync_cognimobile" />
        </service>

        <receiver
            android:name="com.aware.Aware$Storage_Broadcaster"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MEDIA_MOUNTED" />
                <action android:name="android.intent.action.MEDIA_UNMOUNTED" />

                <data android:scheme="file" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="com.aware.Aware$AwareBoot"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
    </application>

</manifest>